

<form action="/payment/results">

<label for="perc">APR</label>
<input id="perc" type="text" name= "perc">

<label for="years">Number of years</label>
<input id="years" type="text" name= "years">

<label for="princ">Principal</label>
<input id="princ" type="text" name= "princ">

<button>Calculate monthly payment</button>


</form>
