

<form action="/random/results">

<label for="min">Minimum</label>

<input id="min" type="text" name= "min">

<label for="max">Maximum</label>

<input id="max" type="text" name= "max">

<button>Pick random number</button>


</form>
